@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root 
{
	--bg: #000000;
	--txt: #938752;
	--txt-2: #938752;
	--link-h: #875293;
	--link: #875293;
}

body {
	font-family: 'Georgia', serif;
	font-weight: bold;
	background: var(--bg);
	color: var(--txt);
	
	max-width: 95vw;
	max-height: 95vh;
}

main {
	width: 95vw;
	height: 95vh;
	text-align: left;
}

.home-h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(1em + 4vw);
	font-family: 'Aboreto', cursive;
}

.home-f {
	color: var(--txt-2);
	bottom: 1vh;
	position:absolute;
	left: 5vw;
	right: 5vw;
	width:90vw;
	height: auto;
	font-size: calc(1em + 0.75vw);
}

.paths, .paths-s {
	font-size: calc(1em + 2vw);
	text-align: right;
}

a:link.Names, a:visited.Names, a:active.Names, a:link.home-link, a:visited.home-link, a:hover.home-link, a:active.home-link {
	text-decoration: none;
	color: inherit;
}

.Names {
	text-align: center;
	max-width: 50vw;
	margin: auto;
	font-size: calc(1em + 1.4vw);
}
a:link, a:visited, a:active{
	color:var(--link)
}
a:hover, a:hover.home-link, a:hover.Names{
	color: var(--link-h);
}
article {
	color: var(--txt-2);
	max-width: 70vw;
	text-align: left;
	margin: auto;
	font-size: calc(1em + 0.75vw)
}
.list {
	text-align: left;
	max-width: 50vw;
	margin: auto;
	font-size: calc(1em + 1vw);
}/* ??? */
a:link, a:visited, a:active{
	color:var(--link)
}
a:hover, a:hover.home-link, a:hover.Names{
	color: var(--link-h);
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 66.6667%;
}

@media only screen and (max-width: 750px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
  .list, body, main, article{
    max-width: 95%;
    max-height: 95%;
    margin: auto;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.cc {
  text-align:center
}
