
:root {
/* VARIABLES: Background, Text, Link-Hover, Other links  */

/* Red and Green  */
	--bg-1: #b10c11;
	--txt-1: #11b10c;
	--link-h-1: #40c03c;
	--link-1: #65ce61;

/* Original  */
	--txt-2: #cbb9ad;
	--bg-2: #2e3138;
	--link-h-2: #65728d;
	--link: #8aa4b5;

/* Greenish Black&White  */
	--bg-3: #112211;
	--txt-3: #EEFFEE;
	--link-h-3: #24600A;
	--link-3: #65ce61;


/* CHANGE THESE  */
	--bg: var(--bg-2);
	--txt: var(--txt-2);
	--link-h: var(--link-h-2);
	--link: var(--link-2);
}


body {
	font-family: 'Georgia', serif;
	font-weight: bold;
	background: var(--bg);
	color: var(--txt);
	
	max-width: 95vw;
	max-height: 95vh;
}

main {
	width: 95vw;
	height: 95vh;
	text-align: left;
}

.home-h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(1em + 4vw);
}

.home-f {
	position:absolute;
	bottom:2vh;
	left: 5vw;
	right: 5vw;
	width:90vw;
	height: auto;
	font-size: calc(1em + 0.75vw);
}

.paths {
	font-size: calc(1em + 2vw);
	text-align: right;
}
.paths-s {
	font-size: calc(1em + 1vw);
	text-align:right;
}

a:link.Names, a:visited.Names, a:hover.Names, a:active.Names, a:link.home-link, a:visited.home-link, a:hover.home-link, a:active.home-link {
	text-decoration: none;
	color: inherit;
}

a:hover.home-link{
	color: var(--link-h);
}

.Photos {
	width: 75%;
	height: auto;
	border: 3px solid #000;
}

.Names {
	text-align: center;
	max-width: 50vw;
	margin: auto;
	font-size: calc(1em + 1.4vw);
}

.list {
	text-align: left;
	max-width: 50vw;
	margin: auto;
	font-size: calc(1em + 1vw);
}

article {
	max-width: 70vw;
	text-align: left;
	margin: auto;
	font-size: calc(1em + 0.75vw)
}

a:link, a:visited, a:active {
	color:var(--link)
}
a:hover{
	color: var(--link-h);
}


